.custom-navbar {
 background-color:rgb(207, 227, 177);
  backdrop-filter: blur(10px); /* your custom background */
}

.custom-navbar .nav-link {
  color: white; /* text color */
}

.custom-navbar .nav-link:hover {
  color: #f16507; /* hover color */
}

.custom-navbar .navbar-brand {
  color: white;
}
.hero-section h1,
.hero-section p {
  text-align: left;
}
.hero-section .col-md-6 {
  text-align: left;
}
.hero-section {
  background-image: url("../images/herob.jpg"); /* your soothing image */
  background-size: cover;
 background-position: top center; /* crops bottom */
  background-repeat: no-repeat;
  

  padding: 50px 0; /* spacing so content breathes */
  position: relative;
}